:root {
    -webkit-text-size-adjust: 100%;
    word-break: normal;
    tab-size: 4;
    --g-toolbar-height: 48px;
    --g-border-radius-s: 2px;
    --g-border-radius-m: 4px;
    --g-border-radius-l: 8px;

    --g-green-500: var(--il-prairie);

    --g-danger-100: #f8d7da;
    --g-danger-500: #D40C0C;
    --g-danger-600: #880606;
    --g-danger-700: #6a2316;
    --g-danger-text: #ffffff;

    --g-accent-500: var(--il-orange);
    --g-accent-700: var(--il-altgeld);

    --g-warn-100: #feedc7;
    --g-warn-300: #fdd06f;

    --g-warn-500: var(--il-harvest);
    --g-warn-700: #b37f0d;

    --g-primary-300: var(--il-industrial);
    --g-primary-500: var(--il-blue);
    --g-primary-text: #ffffff;

    --g-info-200: var(--il-arches-90);
    --g-info-300: var(--il-arches-80);
    --g-info-400: var(--il-arches-70);
    --g-info-500: var(--il-arches);
    --g-info-600: var(--il-arches-50);
    --g-info-700: var(--il-arches-60);

    --g-surface-0: #ffffff;
    --g-surface-50: #f8f8f8;
    --g-surface-100: var(--il-storm-95);
    --g-surface-150: #eaeaea;
    --g-surface-200: var(--il-storm-80);
    --g-surface-300: var(--il-storm-70);
    --g-surface-400: var(--il-storm-60);
    --g-surface-500: var(--il-storm);
    --g-surface-600: #5f6261;
    --g-surface-700: var(--il-storm-30);
    --g-surface-800: #3e3f3f;
    --g-surface-900: var(--il-storm-10);
    --g-surface-950: #000000;
}