@import "illinois.css";
@import "ilw.css";
@import "colors.css";

.g-dark-content {
    color: var(--g-surface-0);

    a {
        color: var(--g-accent-500);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
        &:focus {
            color: var(--ilw-color--focus--text);
            background: var(--ilw-color--focus--background);
        }
    }
}

@layer base {
    .v-gtooltip {
        position: fixed;
        z-index: 102;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.15s;
        background: #222;
        color: #fff;
        padding: 8px 12px;
        border-radius: 4px;
        font-size: 0.875rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        max-width: 250px;
    }

    .v-gtooltip::after {
        content: "";
        position: absolute;
        left: var(--v-gtooltip-arrow-x, 50%);
        top: 100%;
        transform: translateX(-50%);
        border-width: 6px 6px 0 6px;
        border-style: solid;
        border-color: #222 transparent transparent transparent;
        display: block;
    }

    .v-gtooltip.v-gtooltip-bottom::after {
        left: var(--v-gtooltip-arrow-x, 50%);
        top: auto;
        bottom: 100%;
        border-width: 0 6px 6px 6px;
        border-color: transparent transparent #222 transparent;
    }


    .g-fade-enter-active,
    .g-fade-leave-active {
        transition: opacity 0.1s ease-out;
    }

    .g-fade-enter-from,
    .g-fade-leave-to {
        opacity: 0;
    }
}

@layer override {

    @media (prefers-reduced-motion: reduce) {
        .v-gtooltip {
            transition: none;
        }

        .g-fade-enter-active,
        .g-fade-leave-active {
            transition: none;
        }
    }
}